{% load static %}
<html>
  <head>
    <title>Sam's blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <div class="header">
    {% if user.is_authenticated %}
    <nav class="nav">
      <a href={% url 'post_new' %}>
        <button class='post_button'>add new post</button>
      </a>
      <a href={% url 'post_draft_list' %}>
        <button class='post_button'>drafts</button>
      </a>
    </nav>
    {% endif %}
      <h1><a href="/">Sam's Spectacular Blog</a></h1>
    </div>
    <section>{% block content %} {% endblock %}</section>
  </body>
</html>
