{% load static %}
<html>
  <head>
    <title>Sam's blog</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}" />
  </head>
  <body>
    <div class="header">
    <nav class="nav">
    {% if user.is_authenticated %}
      <a href={% url 'post_new' %}>
        <button class='post_button'>add new post</button>
      </a>
      <a href={% url 'post_draft_list' %}>
        <button class='post_button'>drafts</button>
      </a>
      <a href="{% url 'logout' %}" class='button_text'>Log out</a>
    {% else %}
      <a href={% url 'login' %}>
        <button class='post_button'>login</button>
      </a>
    {% endif %}
    </nav>
      <h1><a href="/">Sam's Spectacular Blog</a></h1>
      <p class="small_button_container">Hello {{ user.username }}</p>
    </div>
    <section>{% block content %} {% endblock %}</section>
  </body>
</html>
